{%- assign selected_variant = product.selected_or_first_available_variant -%}
{%- assign product_form_id = 'product_form_' | append: section.id | append: product.id -%}

<div class="card {% if product.media.size > 0 %}card--collapsed{% endif %} {% if template.name == 'product' %}card--sticky{% endif %}">
  {%- if section.settings.enable_image_zoom -%}
    <div id="product-zoom-{{ section.id }}" class="product__zoom-wrapper"></div>
  {%- endif -%}


  <div class="card__section">
    {%- form 'product', product, id: product_form_id, class: 'product-form' -%}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'product_meta' -%}
            {%- render 'product-meta', product: product, block: block -%} 
    		<!-- <span class="gst">Excl GST</span> -->


          {%- when 'variant_selector' -%}
            {%- render 'product-variant-selector', product: product, form: form, block: block -%}

          
          {% comment %}          
                  <button type="button" class="quantity-selector__button" data-action="decrease-picker-quantity" aria-label="{{ 'cart.items.decrease_quantity' | t }}" title="{{ 'cart.items.decrease_quantity' | t }}">{% render 'icon', icon: 'minus' %}</button>
                  <input name="quantity" aria-label="{{ 'product.form.quantity' | t }}" class="quantity-selector__value" inputmode="numeric" value="1" size="3">
                  <button type="button" class="quantity-selector__button" data-action="increase-picker-quantity" aria-label="{{ 'cart.items.increase_quantity' | t }}" title="{{ 'cart.items.increase_quantity' | t }}">{% render 'icon', icon: 'plus' %}</button>
          {% endcomment %}
          <span class="quantity"><strong>QUANTITY</strong> </span>
          
          &emsp; &emsp;<select
              id="Quantity" name="quantity"
              class="form-field-input form-field-select"
              aria-label="{{ 'general.general.quantity' | t }}"
              data-quantity-select
              >
          {% if product.metafields["global"]["Qty-1"] %}
          <option selected value="{{ product.metafields["global"]["Qty-1"] }}">
          {{ product.metafields["global"]["Qty-1"] }}
          </option>            
          {% if product.metafields["global"]["Qty-2"] %}
          <option value="{{ product.metafields["global"]["Qty-2"] }}">
          {{ product.metafields["global"]["Qty-2"] }}
          </option>
          {% endif %}
          {% if product.metafields["global"]["Qty-3"] %}
          <option value="{{ product.metafields["global"]["Qty-3"] }}">
          {{ product.metafields["global"]["Qty-3"] }}
          </option>
          {% endif %}
          {% if product.metafields["global"]["Qty-4"] %}
          <option value="{{ product.metafields["global"]["Qty-4"] }}">
          {{ product.metafields["global"]["Qty-4"] }}
          </option>
          {% endif %}
          {% if product.metafields["global"]["Qty-5"] %}
          <option value="{{ product.metafields["global"]["Qty-5"] }}">
          {{ product.metafields["global"]["Qty-5"] }}
          </option>
          {% endif %}
          {% if product.metafields["global"]["Qty-6"] %}
          <option value="{{ product.metafields["global"]["Qty-6"] }}">
          {{ product.metafields["global"]["Qty-6"] }}
          </option>
          {% endif %}
          {% if product.metafields["global"]["Qty-7"] %}
          <option value="{{ product.metafields["global"]["Qty-7"] }}">
          {{ product.metafields["global"]["Qty-7"] }}
          </option>
          {% endif %}
          {% if product.metafields["global"]["Qty-8"] %}
          <option value="{{ product.metafields["global"]["Qty-8"] }}">
          {{ product.metafields["global"]["Qty-8"] }}
          </option>
          {% endif %}
          {% else %}
          {% for i in (1..9) %}
          <option {% if i == 1 %}selected {% endif %}value="{{ i }}">
          {{ i }}
          </option>
          {% endfor %}              
          {% endif %}
          </select> 
    </br> 
    </br> 
          
            {%- when 'buy_buttons' -%}
            {%- render 'product-buy-buttons', product: product, form: form, block: block -%}

          {%- when 'text' -%}
            {%- if block.settings.content != blank -%}
              <div class="product-meta__text rte" {{ block.shopify_attributes }}>
                {{- block.settings.content -}}
              </div>
            {%- endif -%}

          {%- when 'button' -%}
            {%- if block.settings.text != blank -%}
              <a href="{{ block.settings.link }}" class="product-meta__button button button--primary" {{ block.shopify_attributes }}>{{ block.settings.text | escape }}</a>
            {%- endif -%}

          {%- when 'store_pickup' -%}
            {%- comment -%}The availability container will be added automatically if there is store pickup available{%- endcomment -%}
            <div class="product-meta__store-availability-container" {{ block.shopify_attributes }}>
              {%- render 'store-availability', product_variant: product.selected_or_first_available_variant -%}
            </div>

          {%- when 'featured_description' -%}
            {%- comment -%}This is only shown on the featured product section{%- endcomment -%}
            {%- if product.description != blank -%}
              <div class="product-meta__description rte" {{ block.shopify_attributes }}>
                {{ product.description | remove: 'data-section-type="product"' }}
              </div>
            {%- endif -%}

          {%- when '@app' -%}
            {%- render block -%}
        {%- endcase -%}
      {%- endfor -%}

      {%- assign product_meta_block = section.blocks | where: 'type', 'product_meta' | first -%}

      {%- if product_meta_block != blank and product_meta_block.settings.show_share_buttons -%}
        <div class="product-meta__share-buttons hidden-tablet-and-up">
          <span class="text--strong">{{ 'product.general.share' | t }}</span>

          {%- assign share_url = shop.url | append: product.url | url_param_escape -%}
          {%- assign twitter_text = product.title | url_param_escape -%}
          {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
          {%- assign pinterest_image = product.featured_media | img_url: '1024x' | prepend: 'https:' -%}

          <ul class="social-media__item-list list--unstyled" role="list">
            <li class="social-media__item social-media__item--facebook">
              <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.facebook_share' | t }}">{%- render 'icon', icon: 'facebook' -%}</a>
            </li>

            <li class="social-media__item social-media__item--pinterest">
              <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.pinterest_pin' | t }}">{%- render 'icon', icon: 'pinterest' -%}</a>
            </li>

            <li class="social-media__item social-media__item--twitter">
              <a href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.twitter_tweet' | t }}">{%- render 'icon', icon: 'twitter' -%}</a>
            </li>

            <li class="social-media__item">
              <a href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}" aria-label="{{ 'general.social.email_share' | t }}">{% render 'icon', icon: 'email' %}</a>
            </li>
          </ul>
        </div>
      {%- endif -%}
    {%- endform -%}
  </div>

  {% comment %}
  ------------------------------------------------------------------------------
  Product Data. This must be outputted for all products (including home page).

  IMPORTANT: THIS CODE IS VITAL. DO NOT EDIT IT NOR REMOVE IT. MAKE SURE TO KEEP
  THE EXACT SAME ATTRIBUTES.
  ------------------------------------------------------------------------------
  {% endcomment %}

  {%- assign variant_selector_block = section.blocks | where: 'type', 'variant_selector' | first -%}

  <script type="application/json" data-product-json>
    {
      "product": {{ product | json }},
      "options_with_values": {{ product.options_with_values | json }},
      "selected_variant_id": {{ selected_variant.id }}
      {%- if variant_selector_block.settings.show_inventory_quantity -%}
        ,"inventories": {
          {%- for variant in product.variants -%}
            {%- if variant.available -%}
              {%- if variant.inventory_management and variant.inventory_policy == 'deny' and variant_selector_block.settings.low_inventory_threshold > 0 -%}
                {%- if variant.inventory_quantity <= variant_selector_block.settings.low_inventory_threshold -%}
                  {%- capture inventory_message -%}{{ 'product.form.low_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
                {%- else -%}
                  {%- capture inventory_message -%}{{ 'product.form.in_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
                {%- endif -%}
              {%- else -%}
                {%- if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 and selected_variant.requires_shipping -%}
                  {%- if variant.incoming -%}
                    {%- capture next_incoming_date -%}{{ variant.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
                    {%- capture inventory_message -%}{{ 'product.form.incoming_stock' | t: next_incoming_date: next_incoming_date }}{%- endcapture -%}
                  {%- else -%}
                    {%- capture inventory_message -%}{{ 'product.form.oversell_stock' | t }}{%- endcapture -%}
                  {%- endif -%}
                {%- else %}
                  {%- capture inventory_message -%}{{ 'product.form.in_stock' | t }}{%- endcapture -%}
                {%- endif -%}
              {%- endif -%}
            {%- else -%}
              {%- capture inventory_message -%}{{ 'product.form.sold_out' | t }}{%- endcapture -%}
            {%- endif -%}

            "{{ variant.id }}": {
              "inventory_management": {{ variant.inventory_management | json }},
              "inventory_policy": {{ variant.inventory_policy | json }},
              "inventory_quantity": {{ variant.inventory_quantity | json }},
              "inventory_message": {{ inventory_message | json }}
            }{% unless forloop.last %},{% endunless %}
          	</span>
          {%- endfor -%}
          <span>GST excluded</span>
          </span>
        }
      {%- endif -%}
    }
  </script>
</div>