<div class="index-section  container-fluid   py-5">
  <div class="page-width container text-{{ section.settings.align_text }} ">
    <div class=" row">
      <div class="col-12 ">
        {%- if section.settings.title != blank -%}
          <h2 class="h2" style="font-size:{{section.settings.hdg_font}}px !important;">
            {{ section.settings.title | escape }}
          </h2>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte {% if section.settings.text_font != blank %} pk-text-size {%- endif -%}">
            {%- if section.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
              {{ section.settings.text }}
            {%- if section.settings.enlarge_text %}</div>{% endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Rich Text",
	"class": "index-rich-text",
    "settings": [
		{
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Rich text block"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
	{
		"type" : "range",
		"id" : "hdg_font",
		"label" : "Heading Font",
		"min" : 16,
		"max" : 48,
		"step" : 1,
		"default": 20

      },
      {
		"type" : "range",
		"id" : "sub_hdg_font",
		"label" : "Sub Heading Font",
		"min" : 12,
		"max" : 42,
		"step" : 1,
		"default": 18

      },
      {
		"type" : "range",
		"id" : "text_font",
		"label" : "Text Font",
		"min" : 10,
		"max" : 36,
		"step" : 1,
		"default": 16

      }
    ],
    "presets": [{
      "name": "Rich Text",
      "category": "Custom"
}]
  }
{% endschema %}
<style>
    .pk-text-size p{
    font-size: {{ section.settings.text_font }}px;
  }
</style>
{% stylesheet %}
  
{% endstylesheet %}
<style>
#more {display: none;}
</style>
<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>